.form{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formGroup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}
label{
    font-size: 18px;
}
.loginWrapper{
    display: flex;
    justify-content: center;
    background: yellowgreen;
}
.inputStyle{
    /* display: flex; */
    margin-top: 35px;
    min-width: 18em;
    height: 37px;
    padding: 0px 10px;
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    transition: all 250ms ease-in-out;
    box-shadow: 0px 0px 12px 0.8px #0e81ce96;
    outline: none;
}
.btnStyle{
    margin-top: 45px;
    font-size: 21px;
    padding: 5px 20px;
    border: 0;
    background-color: #3498db;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    outline: none;
}
.selectStyle{
    margin-top: 35px;
    min-width: 18em;
    height: 37px;
    padding: 0px 10px;
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    transition: all 250ms ease-in-out;
    box-shadow: 0px 0px 12px 0.8px #0e81ce96;
    outline: none; 
}
h2{
    text-align: center;
    font-weight: bold;
}
.btnWrapper{
    display: flex;
    justify-content: center;
}