.horizontalIcon{
    width: 43px;
    height: 44px;
    margin-left: 15px;
}
.imagesWrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.unordItemListHeader{
    font-weight: bold;
    font-size: 25px;
    display: flex;
    /* justify-content: space-around; */
    color: deeppink;
}
.itemListHeader{
    margin-top: 22px;
}
/* a:visited{
    color: red;
} */